@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress {
  pointer-events: "none";
  z-index: 550;
}
#nprogress .bar {
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  position: fixed;
  background: #cafc01;
  box-shadow: "0 0 2px #cafc01";
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: "rotate(3deg) translate(0px, -4px)";
  box-shadow: "0 0 10px #cafc01, 0 0 5px #cafc01";
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: #cafc01;
  border-radius: 100px;
}

.bage_type_slider .swiper {
  width: 100%;
  height: 100%;
}
.bage_type_slider .swiper-wrapper {
  padding-bottom: 50px;
}

.bage_type_slider .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: start;
}

.bage_type_slider .swiper-pagination {
  bottom: -5px !important;
}

.bage_type_slider .swiper-pagination-bullet {
  background: #cafc01;
}

.bage_type_slider .swiper-pagination-bullet-active {
  background: #cafc01;
  width: 10px;
  height: 10px;
}

.bage_type_slider .swiper-button-next {
  color: #cafc01;
}

.bage_type_slider .swiper-button-prev {
  color: #cafc01;
}

.overflow_effect_swiper .swiper-slide {
  width: 300px;
  @media (max-width: 768px) {
    width: 250px;
  }
}

.overflow_effect_swiper .swiper-wrapper {
  padding-bottom: 10px;
}

.badge_effect_swiper {
  display: flex !important;
  @media (max-width: 639px) {
    display: none !important;
  }
}

.badge_effect_swiper_mobile {
  display: none !important;
  @media (max-width: 639px) {
    display: flex !important;
  }
}

.badge_effect_swiper_mobile .swiper-wrapper {
  padding-bottom: 50px;
}

.badge_effect_swiper_mobile .swiper-pagination-bullet {
  background: #cafc01;
}

.badge_effect_swiper_mobile .swiper-pagination-bullet-active {
  background: #cafc01;
  width: 10px;
  height: 10px;
}

.badge_effect_swiper_mobile .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge_effect_swiper .swiper-wrapper {
  padding-bottom: 10px;
  transform: translateX(30%) !important;
  @media (max-width: 640px) {
    transform: translateX(25%) !important;
  }
}

.MuiAutocomplete-paper {
  margin-top: 2px;
  border-radius: 12px;
  background: white;
  padding: 17px 16px;
  border: none;
}
.MuiAutocomplete-listbox {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0px;
}

.MuiPagination-ul {
  gap: 24px;
}

table {
  border-collapse: separate;
  border-spacing: 0 2px;
}

.builtin {
  color: #679ad1 !important;
}
.language-solidity {
  color: white !important;
}

.loading-icon {
  color: #a1a1a1;
  font-size: 2rem;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.mask-with-browser-support {
  mask: linear-gradient(black, black), linear-gradient(black, black);
  mask-clip: content-box, border-box;
  mask-composite: exclude;
  -webkit-mask: linear-gradient(black, black) content-box,
    linear-gradient(black, black);
  -webkit-mask-clip: content-box, border-box;
  -webkit-mask-composite: xor;
}

.image-size {
  background-size: 100% 100%;
}

.image-slider {
  padding: 50px 0 !important;
  @media (max-width: 425px) {
    padding: 20px 0;
  }
}

.image-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.image-slider .swiper-slide-active {
  scale: 1.1;
  opacity: 1;
  @media (max-width: 424px) {
    scale: 1;
  }
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
